<h1><%= @authors.first_name+" "+@authors.last_name %> Books</h1>
  <%= link_to "New Book", new_book_path(:authors_id => @authors.id), { :class => "button waves-effect waves-light btn" } %>
  <br><br>

  <div class="row">
    <% @books.each do |book| %>

        <div class="card-panel grey lighten-2 col s4" style="margin: 10px">
          <%= image_tag(@authors.img, size: "100x100", alt: "Authors Image") %>
          <br>
          <strong><%= link_to book.title %></strong>
          <em><%= book.title %></em>
          <em><%= book.year %></em>
        </div>
    <% end %>
  </div>