<%= form_for @book do |f| %>
  <%= f.hidden_field :author_id, :value => @authors.id %>
  <div class="input-field col s6">
  	<%= f.label :title, 'Title' %>
  	<%= f.text_field :title %>
  </div>
  <div class="input-field col s6">
  	<%= f.label :year, 'Year' %>
  	<%= f.text_field :year %>
  </div>
  <%= f.submit "Submit", :class => "btn waves-effect waves-light" %>
<% end %>